<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/components/dist/output.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body class="bg-black">
    <!-- Create account buttons -->
    <div class=" flex flex-col items-center">
      <section>
        <button
          class="backdrop-blur-x m-5 flex h-9 w-80 items-center justify-center gap-2.5 rounded-3xl bg-neutral-50 px-6 py-2 shadow-md"
        >
          <p class="font-inter text-center font-bold">Create account</p>
        </button>
      </section>

      <section>
        <button
          class="backdrop-blur-x m-5 flex h-9 w-80 items-center justify-center gap-2.5 rounded-3xl bg-neutral-50 px-6 py-2 shadow-md hover:bg-neutral-200"
        >
          <div class="font-inter text-center font-bold">Create account</div>
        </button>
      </section>

      <section>
        <button
          class="backdrop-blur-x m-5 flex h-9 w-80 items-center justify-center gap-2.5 rounded-3xl bg-neutral-500 px-6 py-2 cursor-not-allowed shadow-md"
        >
          <div class="font-inter text-center font-bold">Create account</div>
        </button>
      </section>

      <!-- sign up button -->

      <section>
        <button
          class="bg-black m-5 flex h-9 w-80 items-center justify-center gap-2.5 rounded-3xl px-6 py-2 border-stroke border-solid border shadow-md backdrop-blur-xl">
          <div class="text-twtrBlue font-inter text-center font-bold">
            Sign up
          </div>
        </button>
      </section>
    </div>

 <!-- follow button -->
    <div class="flex flex-col items-center mt-10">  

      <section>
        <button
          class=" bg-neutral-50 m-5 inline-flex justify-center items-center py-2 px-5 rounded-3xl shadow-2xl backdrop-blur-xl">
          <p class="font-inter text-center font-bold">Follow</p>
        </button>
      </section>

      <section>
        <button
          class=" bg-neutral-50 m-5 inline-flex justify-center items-center py-2 px-5 rounded-3xl hover:bg-neutral-200 shadow-2xl backdrop-blur-xl">
          <p class="font-inter text-center font-bold">Follow</p>
        </button>
      </section>

      <section>
        <button
          class=" bg-neutral-500 m-5 inline-flex justify-center items-center py-2 px-5 rounded-3xl cursor-not-allowed shadow-2xl backdrop-blur-xl">
          <p class="font-inter text-center font-bold">Follow</p>
        </button>
      </section>
    </div>

    <!-- Next button -->

    <div class="flex flex-col items-center mt-10">

        <section>
            <button
            class="backdrop-blur-xl m-5 flex h-11 w-96 items-center justify-center gap-2.5 rounded-3xl bg-neutral-50 px-6 py-3 shadow-3xl">
            <p class="font-inter text-center font-bold">Next</p>
          </button>
        </section>

        <section>
            <button
            class="backdrop-blur-xl m-5 flex h-11 w-96 items-center justify-center gap-2.5 rounded-3xl bg-neutral-50 px-6 py-3 shadow-3xl hover:bg-neutral-200">
            <p class="font-inter text-center font-bold">Next</p>
          </button>
        </section>

        <section>
            <button
            class="backdrop-blur-xl m-5 flex h-11 w-96 items-center justify-center gap-2.5 rounded-3xl bg-neutral-500 px-6 py-3 shadow-3xl cursor-not-allowed">
            <p class="font-inter text-center font-bold">Next</p>
          </button>
        </section>

        <section>
            <button class="inline-flex justify-center items-center py-1.5 px-4 w-24 h-7 h- gap-2.5 rounded-3xl border border-stroke border-solid ">
           <p class=" text-white text-sm font-inter text-center font-bold">Following</p>
            </button>
        </section>
    </div>
 <!-- Post button  -->
    <div class="flex flex-col items-center m-10">

        <section>
            <button class=" bg-twtrBlue inline-flex justify-center items-center m-5 p-postPaddingY w-56 h-12 gap-2.5 rounded-full shadow-2xl backdrop-blur-xl">
                <p class=" text-white text-sm font-inter text-center font-bold ">Post</p>
            </button>
        </section>

        <section>
            <button class=" bg-twtrBlue-hover inline-flex justify-center items-center m-5 p-postPaddingY w-56 h-12 gap-2.5 rounded-full hover:bg-twtrBlue shadow-2xl backdrop-blur-xl">
                <p class=" text-white text-sm font-inter text-center font-bold ">Post</p>
            </button>
        </section>

        <section>
            <button class=" bg-twtr-blue-disabled inline-flex justify-center items-center m-5 p-postPaddingY w-56 h-12 gap-2.5 rounded-full shadow-2xl backdrop-blur-xl">
                <p class=" text-white text-sm font-inter text-center font-bold ">Post</p>
            </button>
        </section>
    </div>

     <!-- short Post button -->

     <div class="flex flex-col items-center m-10">

        <section>
            <button class="bg-twtrBlue inline-flex p-3 m-5 justify-center items-center w-20 h-10 gap-2.5 rounded-full shadow-lg backdrop-blur-xl">
                <p class=" text-white text-sm font-inter text-center font-bold ">Post</p>
            </button>
        </section>

        <section>
            <button class="bg-twtrBlue-hover inline-flex p-3 m-5 justify-center items-center w-20 h-10 gap-2.5 rounded-full hover:bg-twtrBlue shadow-lg backdrop-blur-xl">
                <p class=" text-white text-sm font-inter text-center font-bold ">Post</p>
            </button>
        </section>

        <section>
            <button class="bg-twtr-blue-disabled inline-flex p-3 m-5 justify-center items-center w-20 h-10 gap-2.5 rounded-full shadow-lg backdrop-blur-xl">
                <p class=" text-white text-sm font-inter text-center font-bold ">Post</p>
            </button>
        </section>
        
        <section>
            <div class="w-96 h-14 p-5 m-5 bg-twtrBlue rounded-full shadow backdrop-blur-2xl justify-center items-center gap-2.5 inline-flex">
                <div class="text-white text-base font-bold font-inter">Post</div>
              </div>
        </section>
         
        <section>
            <div class="w-96 h-14 p-5 m-5 bg-twtrBlue-hover rounded-full shadow backdrop-blur-2xl justify-center items-center gap-2.5 inline-flex">
                <div class="text-white text-base font-bold font-inter">Post</div>
              </div>
        </section>

        <section>
            <div class="w-96 h-14 p-5 m-5 bg-twtr-blue-disabled rounded-full shadow backdrop-blur-2xl justify-center items-center gap-2.5 inline-flex">
                <div class="text-white text-base font-bold font-inter">Post</div>
              </div>
        </section>

     </div>

   <!-- For you and following tab  -->

    <div class="flex flex-col items-center m-10">

    <section>
    <div class="w-96 h-14 px-20 pt-5 border-b border-neutral-700 justify-center items-center gap-40 inline-flex">
      <div class="flex-col justify-center items-center gap-4 inline-flex">
          <div class="text-neutral-400 text-base font-medium font-inter">For you</div>
          <div class="w-14 h-0.5 bg-twtrBlue rounded-3xl"></div>
      </div>
      <div class="pb-3 border-b-2 justify-center items-center flex">
          <div class="text-stone-50 text-base font-medium font-inter">Following</div>
       </div>
    </div>
    </section>
   </div>

   <!-- home and user icons  -->

   <div class="flex flex-col items-center m-10">
     <div class=" w-6 h-6 relative ml-2"> <img src="/components/public/images/Group.svg"></div>
     <div class=" w-6 h-6 relative"> <img src="/components/public/images/state=not selected.svg"></div>
     <div class=" w-6 h-6 relative"> <img src="/components/public/images/state=selected.svg"></div>
     <div class=" w-6 h-6 relative"> <img src="/components/public/images/state=selected (1).svg"></div>
   </div>
  













  </body>
</html>
