<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input components</title>
    <link href="/components/dist/output.css" rel="stylesheet" />
</head>
<body class="bg-neutral-1000">
    
    <div class=" flex flex-col gap-2.5 items-center mt-10">
        <section>
            <fieldset class="w-96 h-14 px-3 py-4 border-neutral-500 rounded border inline-flex justify-center items-center gap-2.5  focus-within:border-twtrBlue">
            <legend class=" text-neutral-500 text-xs font-medium font-inter p-1 focus-within:text-twtrBlue">label</legend>
            <input type="text" placeholder="Value" class=" w-full bg-transparent text-neutral-50 placeholder:text-neutral-500 placeholder:text-xl focus:outline-none">
            </fieldset>
        </section>
    </div>


    <div class="flex gap-2.5 justify-center mt-14">
        <img src="/components/public/images/User avatar.jpg" class=" w-9 h-9 relative rounded-full">
        <input type="text" placeholder="What's Happening?!" class=" placeholder:text-neutral-600 font-inter placeholder:text-xl bg-black outline-none focus-within:text-neutral-50 focus\:outline-none">
    </div>



    <div class="flex gap-2.5 justify-center mt-14">
     <section>
        <div class=" flex flex-shrink-0 w-80 h-10 pl-4 pr-60 py-2.5 bg-neutral-800 rounded-full gap-2.5 border-fill-200 border focus-within:border-twtrBlue">
            <img src="/components/public/images/search.svg" class="bg-fill-200 justify-start w-5 h-5 focus:fill-twtrBlue">
            <input type="search" placeholder="search" class="items-center bg-searchbar-fill text-base font-inter font-normal outline-none bg-transparent appearance-none text-neutral-50 placeholder:text-neutral-600">
           </div>  
     </section>
     </div>
</body>
</html>