<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Page</title>
    <link href="/components/dist/output.css" rel="stylesheet">
</head>
<body class="bg-black">
    
   <div class=" flex justify-center items-center h-screen">
    <img src="/components/public/images/100X-frame.png" alet="">

    <div class="px-7 flex flex-col gap-10">
        <div class="flex flex-col gap-3">
            <h1 class="text-5xl font-bold text-neutral-50">Happening now</h1>
            <p class="text-[26px] font-bold text-neutral-50">join today.</p>
        </div>
        
    <section>
        <button
          class="backdrop-blur-x m-5 flex h-9 w-80 items-center justify-center gap-2.5 rounded-3xl bg-neutral-50 px-6 py-2 shadow-md hover:bg-neutral-200"
        >
          <div class="font-inter text-center font-bold">Create account</div>
        </button>
      </section>
   </div>
   
</body>
</html>
