<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/components/dist/output.css" rel="stylesheet" />
    <title>Tweet</title>
</head>
<body class=" bg-black">
    <section class="flex gap-2.5 justify-center items-center mt-10">
        <article class="w-twtWidth h-56 px-4 py-2 border-b border-neutral-700 justify-start items-start gap-4 flex">
        <img class="w-12 h-12 rounded-full relative bg-no-repeat" src="/components/public/images/User avatar (1).jpg" alt="Profile">


        <div class=" flex flex-shrink flex-col items-start gap-2">
            <div class="flex items-center gap-2.5 self-stretch">
                <p class="text text-base font-normal text-neutral-50">Name</p>
                <p class="text-base font-normal text-neutral-500">@handle • 5m</p>
            </div>
            <div class="self-stretch">
                <p class="w-96 text-stone-50 text-base font-normal font-inter">
                    Writing gets easier after the first sentence. <br><br> Lifting gets easier after the first set. <br>People think and think and think until they finally decide to act.
                </p>
              </div>
        

         <!-- footer -->
         <div class=" flex items-center justify-between self-stretch py-3">
            <div class=" gap-2 flex items-center justify-between">
                <img src="/components/public/images/Group 26840.svg" />
                <span class="font-normal text-sm text-neutral-500 font-inter">777</span>
            </div>

            <div class=" gap-2 flex items-center justify-between">
                <img src="/components/public/images/heart.svg" />
                <span class="font-normal text-sm text-neutral-500 font-inter">71045</span>
            </div>

            <div class=" gap-2 flex items-center justify-between">
                <img src="/components/public/images/reach.svg" />
                <span class="font-normal text-sm text-neutral-500 font-inter">1.5M</span>
            </div>

            <div class=" gap-2 flex items-center justify-between">
                <img src="/components/public/images/comment.svg" />
                <span class="font-normal text-sm text-neutral-500 font-inter">133</span>
            </div>

            <div class=" gap-2 flex items-center justify-between">
                <img src="/components/public/images/Vector.svg" />
            </div>

         </div>
        </div>
        </article>
    </section>
</body>
</html>